<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990127373743-c576qe6dqmjam40a0o42qhoubeb9sd2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990127373743-c576qe6dqmjam40a0o42qhoubeb9sd2p</string>
	<key>API_KEY</key>
	<string>AIzaSyD4b6e3QXzWJg9BpdNz7BugFtx39bb7ZQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>990127373743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArthurDeAraujo.GeoTrail</string>
	<key>PROJECT_ID</key>
	<string>incandescent-inferno-4410</string>
	<key>STORAGE_BUCKET</key>
	<string>incandescent-inferno-4410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:990127373743:ios:630f5cc052383eca</string>
	<key>DATABASE_URL</key>
	<string>https://incandescent-inferno-4410.firebaseio.com</string>
</dict>
</plist>